/*--CSS Reset --*/
*{
    padding: 0;
    margin: 0;
    font-size: 100%;
    font-weight: normal;
    line-height: 1em;
}
/*--Start Main Styling --*/
@font-face {
    font-family: "myfont";
    src: url(../fonts/Hitchcock.ttf) format("truetype");
}
body{
    background: #FCF9EA;
    color:#171717;
    font-family: 'IBM Plex Sans', sans-serif;

}
section,header,p{
    width:80%;
    max-width:800px;
    margin:auto;
    line-height:1.5em;
}
header,section{
    margin-top: 2rem;
    margin-bottom: 2rem;

}
h2{
    font-size:1.618rem;
    font-style:italic;
    padding: 1rem 0 1rem 0;
}
blockquote {
    padding: 2rem 0;
    line-height: 1.5em;
}

blockquote{
    font-family: 'IBM Plex Sans', sans-serif;
    font-size:1.618rem;
    font-style:italic;
    font-weight:600;
    color:#27335D;
    hanging-punctuation: first;
    text-indent:-0.4rem;
}
blockquote cite{
font-size: 1rem;
font-style: italic;
color:#171717;
}
span{
    font-size:1.618em;
    font-weight:600;
}
.grid-container{
    display:grid;
    column-gap: 10px;
    grid-template-columns: auto auto auto;
    justify-content: center;

}
.grid-container2{
    display:grid;
    justify-content: center;
    align-content: center;
    column-gap: 10px;
    grid-auto-flow: column;
    grid-template-columns: 1fr 1fr 1fr minmax(250px, 800px);
    

}
.grid-container3{
    display:grid;
    column-gap: 10px;
    grid-template-columns: auto auto auto;
    justify-content: center;

}
.grid-container4{
    display:grid;
    column-gap: 10px;
    grid-template-columns: 1fr 1fr 1fr minmax(250px, 800px);
    justify-content: center;

}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    max-width: 800px;
  }
  #margin1{
    margin-bottom: 2rem;
  }
  #margin2{
    margin-bottom: 2rem;
  }


/*--Styling Links--*/

a{
    color:#27335D;
    text-decoration: none;
}

a:hover{
    color:#b6435c;
    transition: all 0.3s ease-in-out;
    border-bottom: 1px dotted;

}

/*-- Navigation--*/

nav{
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    width: 100%;
    background-color:#27335D;
    opacity: 85%;
    padding: 1.5rem 0 1.5rem 1.5rem;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 0.75rem;
}

nav ul{
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    
}
nav ul li {
    margin: 20px;
    padding-right: 2rem;
    background: none;
   list-style-type: none;


}

nav a {
    color: #F2CD5D;
}

nav a:hover {
    border-bottom: none;
    color:#ffff8e;
    transition: all 0.3s ease-in-out;
}



/*--Styling the Footer--*/
footer { 
    background-color:#171717;
    font-size: 0.618rem;
    color: #fcf9ea;
    text-align: center;
    padding: 2rem 0;
   
    } 
    
    footer p { 
    margin: auto; 
    max-width:80%;
    padding: 2rem 0 2rem,0;
    } 
    
    .connections{ 
    position: relative; 
    margin: 0 auto; 
    } 
    .connections ul{ 
    margin: 0; 
    padding: 0; 
    } 
    .connections li{ 
    margin: 0 10px; 
    padding: 0; 
    list-style: none; 
    display: inline-block; 
    } 
    .connections a:link{ 
    border-bottom: none; 
    } 
    .connections img, 
    .connections svg{ 
    border: none; 
    } 
    .connections a:hover img, 
    .connections a:hover svg{ 
    border-bottom: none;} 
    .connections svg { 
    margin: 1em auto;} 
    .connections a:hover svg path { 
    fill: #27335D; 
    transition: all 0.2s ease-in-out;} 
    footer .connections a:hover svg path { 
    fill: #27335D; 
    transition: all 0.2s ease-in-out;} 