/*--Add Font Hitchcock--*/
@font-face {
    font-family: "myFirstFont";
    src: url(../css/fonts/hitchcock.ttf);
}
/*--CSS Reset --*/
*{
    padding: 0;
    margin: 0;
    font-size: 100%;
    font-weight: normal;
    line-height: 1em;
}
/*--Start Main Styling --*/
body{
    background: #FCF9EA;
    color:#171717;
    font-family: 'IBM Plex Sans', sans-serif;

}
section,header,p{
    width:80%;
    max-width:800px;
    margin:auto;
    line-height:1.5em;
}
header,section{
    margin-top: 2rem;
    margin-bottom: 2rem;

}
h2{
    font-family: "myFirstFont", sans-serif;
    font-size:1.618rem;
    color: #27335D;
    padding: 1rem 0 1rem 0;
}
blockquote {
    padding: 2rem 0;
    line-height: 1.5em;
}

blockquote{
    font-family: 'IBM Plex Sans', sans-serif;
    font-size:1.618rem;
    font-style:italic;
    font-weight:600;
    color:#27335D;
    hanging-punctuation: first;
    text-indent:-0.4rem;
}
blockquote cite{
font-size: 1rem;
font-style: italic;
color:#171717;
}
span{
    font-size:1.618em;
    font-weight:600;
}
/*--CSS Grid--*/
.grid-container{
    max-width: 800px;
    display:grid;
    column-gap: 10px;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;

}
.grid-container1{
  max-width: 800px;
  display:grid;
  column-gap: 10px;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;

}

/*--Image Position--*/
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 800px;
  }
  #margin1{
    margin-bottom: 2rem;
  }
  #margin2{
    margin-bottom: 2rem;
  }
  
/*--Adding an Image Overlay--*/
.container {
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 800px;
  }
  
  
  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #555555;
  }
  
  .container:hover .overlay {
    opacity: 0.75;
  }
  
  .text {
    color: #FCF9EA;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  }
/*--Styling the Collapsable Sidebar Navigation--*/
    .sidebar {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: #FCF9EA;
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 60px;
      }
      
      .sidebar a {
        padding: 8px 8px 8px 32px;
        font-family: "myFirstfont", "sans serif";
        text-decoration: none;
        font-size: 1.618rem;
        color:  #27335d;
        display: block;
        transition: ease in 0.5s;
      }
      
      .sidebar a:hover {
        color: #2c697b;
      }
      
      .sidebar .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
      }
      
      .openbtn {
        position:fixed;
        font-size: 20px;
        cursor: pointer;
        background-color: #FCF9EA;
        color:  #27335d;
        padding: 10px 15px;
        border: none;
      }
      
      .openbtn:hover {
        background-color: #2c697b;
      }
      
      #main {
        transition: margin-left .5s;
        padding: 0px;
      }

/*--Styling Links--*/

a{
    color:#27335D;
    text-decoration: none;
}
/*--Styling the Footer--*/
footer { 
    background-color:#171717;
    font-size: 0.618rem;
    color: #fcf9ea;
    text-align: center;
    padding: 2rem 0;
   
    } 
    
    footer p { 
    margin: auto; 
    max-width:80%;
    padding: 2rem 0 2rem,0;
    } 
    
    .connections{ 
    position: relative; 
    margin: 0 auto; 
    } 
    .connections ul{ 
    margin: 0; 
    padding: 0; 
    } 
    .connections li{ 
    margin: 0 10px; 
    padding: 0; 
    list-style: none; 
    display: inline-block; 
    } 
    .connections a:link{ 
    border-bottom: none; 
    } 
    .connections img, 
    .connections svg{ 
    border: none; 
    } 
    .connections a:hover img, 
    .connections a:hover svg{ 
    border-bottom: none;} 
    .connections svg { 
    margin: 1em auto;} 
    .connections a:hover svg path { 
    fill: #27335D; 
    transition: all 0.2s ease-in-out;} 
    footer .connections a:hover svg path { 
    fill: #27335D; 
    transition: all 0.2s ease-in-out;} 

    @media (max-width:900px){
      body{
        font-size: 0.875em;
      }
      section,header,p{
        width:80%;
        max-width:600px;
        margin:auto;
        line-height:1.5em;
    }
    header,section{
      margin-top: 2rem;
      margin-bottom: 2rem;
  
  }
      h2{
        font-size:1.618em;
      }
      blockquote{
        font-size:1.618em;
      }
      blockquote {
        padding: 2rem 0;
        line-height: 1.5em;
    }
      .grid-container1{
        max-width: 400px;
        display:grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        justify-content: center;
        align-content:center;
    
    }
    .sidebar a{
      font-size:1.618em;
    }
  }
  @media (max-width:480px){
    body{
      font-size: 0.75em;
    }
    section,header,p{
      width:80%;
      max-width: 400px;
      margin:auto;
      line-height:1.5em;
  }
  header,section{
    margin-top: 2rem;
    margin-bottom: 2rem;

}
    h2{
      font-size:1.618em;
    }
    blockquote{
      font-size:1.618em;
    }
    blockquote {
      padding: 2rem 0;
      line-height: 1.5em;
  }
    .grid-container1{
      max-width: 400px;
      display:grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr 1fr;
      justify-content: center;
      align-content:center;
  
  }
  .sidebar a{
    font-size:1.618em;
  }
}